
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<ul>
    <li>@Html.ActionLink("Products By Supplier", "ProductsBySupplier", "Reports")</li>
    <li>@Html.ActionLink("Customers by Lastname", "CustomersByLastname", "Reports")</li>
    <li>@Html.ActionLink("Users and Customers with same name and lastname", "UsersCustomers", "Reports")</li>
    <li>@Html.ActionLink("Customers with address", "CustomersAddress", "Reports")</li>
    <li>@Html.ActionLink("Operations report", "Operations", "Reports")</li>
</ul>

